


/* the navbar styling*/


#first-sec{
  background: rgb(119,152,31);
background: linear-gradient(90deg, rgba(119,152,31,1) 0%, rgba(8,108,95,0.5634628851540616) 52%);
}
.navbar{
  background-color: #660033;
  padding-top: 10px;
}
.navbar img{
  margin-left: 15px;
}
span{
  color: #fff;
  font-family: Nanum Gothic;
  font-size: 17px;
}

/* the list styling*/
.navbar-nav{
  justify-content: space-between;
  padding: 10px 70px;
  margin-right: 32%;
  justify-content: space-between;
}
.navbar-link{
  margin-top: 10%;
}
.btn{
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  float: right;
  text-decoration: none;
  font-weight: bold;
  transition: transform .2s;
}
.btn:hover{
  transform: scale(1.2);
}

.col-sm{
  margin-top: 10%;
}
.col-sm h5{
  margin-top: 5em;
  font-size: 25px;
  font-family: sans-serif;
  color: #fff;
}
.col-sm p{
  font-size: 14px;
  font-family: Courier New;
  font-weight: bold;
  color: #fff;
  padding-top: 8px;
}
.col-sm img{
  height: 450px;
  width: 350px;
  background-repeat: repeat;
  margin-left: 19px;
}
.btn-bn{
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform .4s;
  float: left;
}

.btn-bn:hover{
  transform: scale(1.2);
}

/* second section*/

.aboutt{
  text-align: center;

  font-size: 29px;
  font-family: sans-serif;
  font-weight:bolder;

}

#About-section{
  background: rgb(174,184,51);
background: linear-gradient(90deg, rgba(174,184,51,0.4766281512605042) 0%, rgba(139,55,149,0.5634628851540616) 52%);
}
